# Logs
logs/*.log
logs/*.json
npm-debug.log*
*.zip

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# real configurations
.env

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.idea
.vscode
.DS_Store